body {
    font-size: 17px;
    font-family: arial;
    background: #f4f4f4;
    line-height: 1.5em;
}

.Header {
    align-items: center;
    background: #1ed90ac0;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-bottom: 4px #8f8585 solid;
    margin-bottom: 1em;
}

.List {
    display: flex;
    justify-content: center;
    align-items: center;
}

#listContainer {
    background-color: rgb(30, 143, 255);
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 0 10px 10px rgb(30, 143, 255);
}

.movie-container {
    display: "inline-flex";
    flex-direction: "column";
    min-height: "500px";
    max-width: "150px";
    background-color: #aec37d;
    margin: "1em";
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 0 10px 10px rgb(34, 151, 123);
}

.movie-details {
    margin-top: auto;
}

.movie-title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.movie-trailer {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.movie-image {
    height: auto;
    width: 100%;
}